.metadata/
.recommenders/
**/bin/
.gradle
**/local.properties
**/.idea/workspace.xml
**/.idea/libraries
.DS_Store
**/captures
**/build
feature_definitions_1.xml
feature_values_1.xml
features.out.xml
JavaWorkspace/JAudioWithMicrophoneTryouts/out
JavaWorkspace/AudioAnalysis/res/**/*.csv
JavaWorkspace/AudioAnalysis/res/**/*.wav
JavaWorkspace/AudioAnalysis/res/testSounds
*.log.lck
__pycache__
**/res/learnedSounds/**/*.wav
**/res/learnedSounds/**/*.csv
**/res/learnedSounds/**/*.xml
*.log
alertSettings.json
AnalysisSoftware/AudioAnalysis/res/learnedSounds/**/*.mp3
AnalysisSoftware/AudioAnalysis/out
